html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
}

.instruction-container {
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

@media (min-width: 900px) {
  .instruction-container {
    width: 700px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.text {
  background-color: #283e50;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 45px;
  margin: 15px;
}
p {
  text-align: center;
  margin: 15px;
  margin-bottom: 25px;
  line-height: 1.5;
  font-size: 17px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  border-width: 0;
}
.rules {
  background-color: #1fcca4;
  height: 50px;
  width: 100%;
  border-width: 0;
  border-bottom: solid 1px black;
  font-size: 17px;
  color: #fff;
}
.rules:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.play {
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  background-color: #0197f6;
  height: 50px;
  border-width: 0;
}
.play:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.imgInstrukce {
  max-width: 100%;
}

li {
  padding: 8px;
}

ol {
  margin: 20px;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  margin-left: 2px;
  margin-right: 2px;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  figure {
    max-width: 45%;
    margin: 17px;
  }
}

@media (min-width: 900px) {
  .instructions {
    display: flex;
    flex-wrap: wrap;
  }
}

.button {
  display: flex;
}

.pole {
  flex-grow: 1;
  aspect-ratio: 1/1;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  border: 1px, solid, black;
  opacity: 0.7;
}

.hraci-pole {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  opacity: 0.7;
}

.main-container-hra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 80vmin;
  margin-bottom: 10px;
  margin-top: 0%;
}

.tah,
.rozcesti {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.hraci-hlavicka,
.hraje,
.hraje-kolecko {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: #1fcca4;
  cursor: pointer;
  border-width: 0;
  border-radius: 15%;
}

.restart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: #0197f6;
  cursor: pointer;
  border-width: 0;
  border-radius: 15%;
}

.restart-button:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.play-button:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.hraje-kolecko {
  filter: invert();
}
.pole:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.pole:focus {
  cursor: pointer;
  background-color: #ffffff;
}
